html, body, .root, .App{
  min-height: 100vh;
}

.container{
  max-width:500px !important;
  margin: 0 auto;
  padding:0 10px !important;
  width: 100%;
}

.App{
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.logo-bottom {
  justify-content: flex-end;
 padding: 10px;
 font-size: 11px;
 display: flex;
}

.app-header .title{
  padding:5px;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 15px;
}

.app-header .content{
  border-bottom: 2px solid #aeaeae;
}

.list{
  padding: 0;
  padding-bottom: 40px;
}

.list .item{
  padding: 15px 0;
}

.navbar{
  padding: 0px;
  justify-content: flex-start;
}

.navbar a{
  display: inline-block;
  color: #666;
  padding: 15px;
  text-decoration: none;
}

.navbar a.active{
  font-weight: bold;

}




.pagination{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
justify-content: flex-end;
}

.pagination button{
  margin: 0 3px;
}
.pagination span{
  margin: 0 3px;
  display: inline-block;
  font-size: 15px;
}

.pagination input{
  margin: 0 3px;
  display: inline-block;
  width:50px;
  margin-right: 8px;
  line-height: 26px;
  height: 26px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
