.container{
  max-width:500px;
  margin: 0 auto;
  padding:0 5px;
}

.app-header .title{
  padding:15px 0;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;

}

.app-header .content{
  border-bottom: 2px solid #aeaeae;
}

.list{
  padding: 10px 0;
}

.list .item{
  padding: 20px 10px;
  border-bottom: 1px solid rgba(15,70,100,.12);
}

.navbar{
  padding: 0px;
}

.navbar a{
  display: inline-block;
  color: #666;
  padding: 15px;
  text-decoration: none;
}